doctype html
html
  head
    title 力田磁电科技
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/pintuer.css')
    script(src='/scripts/jquery.js')
    script(src='/scripts/pintuer.js')
  body
    include nav
    block content
    include footer
    -
      let script = `
        $(
          function () {
            var type = ['产品展示', '新闻中心', '技术支持', '成功案例', '资质证书', '关于我们', '联系我们'],
            lis = $('ul.nav li')
            
            if (!${!!conf}) {
              $(lis[0]).removeClass('bg-sub')
              $(lis[0]).addClass('bg-dot')
            } else {
              for (var i = 1; i != 8; i++) {
                if (type[i - 1] === '${conf ? conf.title : ''}') {
                  $(lis[i]).removeClass('bg-sub')
                  $(lis[i]).addClass('bg-dot')
                  isMain = false
                }
              }  
            }
          }
        )`
    script= script
