doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/pintuer.css')
    script(src='/scripts/jquery.js')
    script(src='/scripts/pintuer.js')
  body
    include nav
    block content
    include footer