div
  .container-layout.padding-big-top.padding-big-bottom
    .line
      .x8.x2-move.text-right
          a(href='/client/index')
            img(src='/images/logo.png')
  .navbar(style='margin-bottom: 10px;')
    .navbar-body.nav-navicon.line
      ul.nav.nav-inline.nav-menu.bg-inverse.text-center
        .x2
        li.x1.bg-sub
          a(href='/client/index') 首页
        li.x1.bg-sub
          a(href='/client/productShow/page/1') 产品
        li.x1.bg-sub
          a(href='/client/news/companyNew/page/1') 新闻
        li.x1.bg-sub
          a(href='/client/technology/page/1') 支持
        li.x1.bg-sub
          a(href='/client/success/page/1') 案例
        li.x1.bg-sub
          a(href='/client/certificate/page/1') 证书
        li.x1.bg-sub
          a(href='/client/aboutMe') 关于
        li.x1.bg-sub
          a(href='/client/contact') 联系
        .x2
