extends layout

block content
  include topSide
  .x8.x2-move(style='float: none;')
    .line
      include contactSide
      .x9
        .padding-big-left
          .border
            .line.padding-big-top.padding-big-left.padding-big-right
              ul.float-right.bread
                li
                  a.icon-home(href='/client/index') 首页
                li
                  a(href='/client/contact') 新闻中心
                li
                  a(href=`/client/news/${newsType}/page/1`)= newsType
              h1 新闻中心
            hr
            .line
              //each product in products
              //  .xl3.padding-small
              //    .padding-big.bg-yellow-light
              //      img.margin-big-bottom(src='/images/product.jpg' style='width: 100%;')
              //      a(href='#')= product.name
              //      br
              //      br
              //      span.tag.bg-dot= product.series
            include pager