extends layout

block content
  include topSide
  .x8.x2-move(style='float: none;')
    .line
      include contactSide
      .x9
        .padding-big-left
          .border
            .line.padding-big-top.padding-big-left.padding-big-right
              ul.float-right.bread
                li
                  a.icon-home(href='/client/index') 首页
                li
                  a(href='/client/certificate/page/1') 资质证书
              h1 资质证书
            hr
            .line
              each item in certificate
                .xl3.padding-small
                  .padding.bg-yellow-light
                    img.margin-big-bottom(src='/images/product.jpg' style='width: 100%;')
                    a(href='#')= item.name
            include pager