extends layout

block content
  include topSide
  .x8.x2-move(style='float: none;')
    .line
      include contactSide
      .x9
        .padding-big-left
          .border
            .line.padding-big-top.padding-big-left.padding-big-right
              ul.float-right.bread
                li
                  a.icon-home(href='/client/index') 首页
                li
                  a(href='/client/news/companyNew/page/1') 新闻中心
                li
                  a(href=`/client/news/${newsType}/page/1`)= newsType
              h1 新闻中心
            hr
            .line
              .padding-big
                each news in (companyNews || dynamics || productNews)
                  .media.media-x
                    span.txt.radius.bg-sub.float-left(style='width: 100px;')= new Date(news.meta.updateAt).toLocaleDateString()
                    .media-body
                      a
                        strong= news.title
                      p= news.subtitle
                  hr
            include pager