.line.margin-big.text-center
  ul.pagination.pagination-group
    li
      a(href=`${baseUrl + 1}`) 首页
    each i in [-2, -1, 0, 1, 2].filter((val) => (page + val > 0 && page + val <= count))
      li
        a(href=`${baseUrl + (page + i)}`)= page + i
    li
      a(href=`${baseUrl + count}`) 末页