extends layout

block content
  include topSide
  .x8.x2-move(style='float: none;')
    .line
      include contactSide
      .x9
        .padding-big-left
          .border
            .line.padding-big-top.padding-big-left.padding-big-right
              ul.float-right.bread
                li
                  a.icon-home(href='/client/index') 首页
                li
                  a(href='/client/productShow/page/1') 成功案例
              h1 成功案例
            hr
            .line
              each example in successExample
                .xl3.padding-small
                  .padding.text-center.bg-yellow-light
                    img.margin-big-bottom(src='/images/product.jpg' style='width: 100%;')
                    a(href='#')= example.schoolName
            include pager