//
   Created by CoderSong on 17/3/16.

doctype html
html
    head
        title 力田磁电科技
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/pintuer.css')
        script(src='/scripts/jquery.js')
        script(src='/scripts/pintuer.js')
    body
        block content