//
   Created by CoderSong on 17/3/16.

extends layout

block content
  // 上传组件测试
  form(method='post', action='/server/file/uploading', enctype='multipart/form-data')
    input(name='inputFile', type='file', multiple='mutiple')
    input(name='btnUp', type='submit',value='上传')

  // 列表
  table#dataTables-example.table.table-striped.table-bordered.table-hover
    thead
      tr
        th 资质证书名
        th 更新时间
        th 操作
    tbody
      each certificate in certificates
        tr.odd.gradeX
          td=certificate.name
          td=moment(certificate.meta.updateAt).calendar()
          td
            button#changeBtn.btn.btn-info.btn-sm(type='button', data-toggle='modal', data-target='#createModal', data-id=`${certificate._id}`)  修改

  // 模态框
  #createModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true')
            | ×
          h4#myModalLabel.modal-title
            | 修改资质证书
        .modal-body
          form.form-horizontal
            .row
              .input-field.col.s6
                input#name.validate(placeholder='Placeholder', type='text')
                label(for='name') 证书名

        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal')
            | 关闭
          button#sureChangeBtn.btn.btn-primary(type='button')
            | 确定

