//
   Created by CoderSong on 17/3/16.

extends layout

block content
  script(src="/scripts/managePage/certificate.js")

  .row
    each e in certificates
      .col-lg-3.col-md-4.col-sm-12
        .card
          .card-image.waves-effect.waves-block.waves-light
            img(src=`${e.img}`)
          .card-content
            span.card-title.grey-text.text-darken-4= e.name
            p
              a#changeBtn(type='button', data-toggle='modal', data-target='#createModal', data-id=`${e._id}`) 修改
  #createModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-hidden='true')
            | ×
          h4#myModalLabel.modal-title
            | 修改资质证书
        .modal-body
          img#certificateImg(src='/images/system/singStreet1.jpg', alt='资质证书', style='width: 50%;height:250px')
          form.hidden(method='post', action='/server/file/uploading', enctype='multipart/form-data')
            input#chooseImg(name='inputFile', type='file', multiple='mutiple')
          form.form-horizontal
            .row
              .input-field.col.s12
                input#name.validate(type='text')
                label(for='name') 证书名

        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal', style='margin-left: 5px;')
            | 关闭
          button#sureChangeBtn.btn.btn-primary(type='button')
            | 确定