//
   Created by CoderSong on 17/3/16.

extends layout

block content
    table#dataTables-example.table.table-striped.table-bordered.table-hover
        thead
            tr
                th 资质证书名
                th 更新时间
                th 操作
        tbody#data-tbody
            tr.odd.gradeX
                td Win 95+
                td 4
                td.center X

    script.

