//
   Created by CoderSong on 17/3/16.

doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title 力田磁电科技

    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(rel='stylesheet', href='/assets/materialize/css/materialize.min.css', media='screen,projection')
    // Bootstrap Styles
    link(href='/assets/css/bootstrap.css', rel='stylesheet')
    // FontAwesome Styles
    link(href='/assets/css/font-awesome.css', rel='stylesheet')
    // Morris Chart Styles
    link(href='/assets/js/morris/morris-0.4.3.min.css', rel='stylesheet')
    // Custom Styles
    link(href='/assets/css/custom-styles.css', rel='stylesheet')
    // Google Fonts
    link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/assets/js/Lightweight-Chart/cssCharts.css')

    // jQuery Js
    script(src='/assets/js/jquery-1.10.2.js')
    // Bootstrap Js
    script(src='/assets/js/bootstrap.min.js')
    script(src='/assets/materialize/js/materialize.min.js')
    // Metis Menu Js
    script(src='/assets/js/jquery.metisMenu.js')

    style.
      .modal {
        background-color: transparent;
        box-shadow: none;
      }
      td {
        vertical-align: middle !important;
      }
      a {
        cursor: pointer;
      }

body
    #wrapper
      nav.navbar.navbar-default.top-navbar(role='navigation')
        .navbar-header
          button.navbar-toggle.waves-effect.waves-dark(type='button', data-toggle='collapse', data-target='.sidebar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.waves-effect.waves-dark(href='index.html')
            i.large.material-icons insert_chart
            strong 力田后台管理
          #sideNav(href='')
            i.material-icons.dp48 toc
        ul.nav.navbar-top-links.navbar-right
          li
            a.dropdown-button.waves-effect.waves-dark(href='#!', data-activates='admin-dropdown')
              i.fa.fa-user.fa-fw
              b=`${admin}`
              i.material-icons.right arrow_drop_down
            ul#admin-dropdown.dropdown-content.dropdown-tasks.w250
              li
                a(href='#')
                  i.fa.fa-sign-out.fa-fw
                  |  Logout
      // /. NAV TOP
      nav.navbar-default.navbar-side(role='navigation')
        .sidebar-collapse
          ul#main-menu.nav
            li
              a.waves-effect.waves-dark
                i.fa.fa-sitemap
                |  新闻信息
                span.fa.arrow
              ul.nav.nav-second-level
                li
                  a(href='/manage/news/page/1') 企业新闻
                li
                  a(href='/manage/news/product/page/1') 产品新闻
                li
                  a(href='/manage/news/dynamic/page/1') 行业新闻
            li
              a.waves-effect.waves-dark
                i.fa.fa-sitemap
                |  技术支持
                span.fa.arrow
              ul.nav.nav-second-level
                li
                  a(href='/manage/technology/page/1') 技术文档
                li
                  a(href='/manage/download/page/1') 下载文件
            li
              a.waves-effect.waves-dark(href='/manage/product/page/1')
                i.fa.fa-sitemap
                | 产品
            li
              a.waves-effect.waves-dark(href='/manage/example/page/1')
                i.fa.fa-sitemap
                | 成功案例
            li
              a.waves-effect.waves-dark(href='/manage/certificate/page/1')
                i.fa.fa-sitemap
                | 资质证书
            li
              a.waves-effect.waves-dark
                i.fa.fa-sitemap
                |  系统信息
                span.fa.arrow
              ul.nav.nav-second-level
                li
                  a(href='/manage/configure/page/1') 系统配置
                li
                  a(href='/manage/aboutme') 关于我们
                li
                  a(href='/manage/contact') 联系方式
      #page-wrapper
        .header
          h1.page-header= title
        #page-inner
          block content

    // Morris Chart Js
    script(src='/assets/js/morris/raphael-2.1.0.min.js')
    script(src='/assets/js/morris/morris.js')
    script(src='/assets/js/easypiechart.js')
    script(src='/assets/js/easypiechart-data.js')
    script(src='/assets/js/Lightweight-Chart/jquery.chart.js')
    // Custom Js
    script(src='/assets/js/custom-scripts.js')