//
   Created by CoderSong on 17/3/16.

extends layout

block content
    script(src="/ueditor/ueditor.config.js",charset="utf-8")
    script(src="/ueditor/ueditor.all.min.js",charset="utf-8")
    script(src="/ueditor/lang/zh-cn/zh-cn.js",charset="utf-8")
    script#editor(type="text/plain",style="width:1024px;height:500px;")

    button#sureBtn.button.border-sub OK

    script.
        var ue = UE.getEditor('editor');

        setTimeout(function() {
            ue.execCommand('drafts');
        }, 500);

        $(document).ready(function() {
          $('#sureBtn').click(function(){
             console.log(JSON.stringify(ue.getContent()));
          })
        })